
.thumbnail{
  width: 100%;
}

.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}
.profile-picture{
  width: 40px;
  border-radius: 50px;
}
.video-title{
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}
.thumbnail-row{
  margin-bottom: 10px;
  position: relative;
}
.time{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  right: 5px;
  bottom: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  padding: 4px 3px 4px 3px;
  font-weight: 500;
  border-radius: 3px;
  
}
.video-stats,
.video-author{
  color: rgb(114, 114, 114);
  font-size: 12px;
  font-weight: 500;
}
.video-author{
  margin-bottom: 6px;
}
.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}
